<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title}, ~{::section})}">
<head>
    <title>Não Autorizado</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="text-center py-10">
        <h1 class="text-6xl font-bold text-yellow-600 mb-4">403</h1>
        <p class="text-2xl text-gray-600 mb-8">Você não tem permissão para acessar esta página.</p>
        <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg text-lg">Voltar para a Página Inicial</a>
    </section>
</body>
</html>