<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title}, ~{::section})}">
<head>
    <title>Erro Interno do Servidor</title>
</head>
<body>
    <section class="text-center py-10">
        <h1 class="text-6xl font-bold text-gray-800 mb-4">500</h1>
        <p class="text-2xl text-gray-600 mb-8">Desculpe, algo deu errado no servidor.</p>
        <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg text-lg">Voltar para a Página Inicial</a>
    </section>
</body>
</html>